h1 {
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(187, 135, 159);
  text-shadow: 1px 1px 2px #222, 1px 1px 2px rgb(17, 16, 16);
  word-spacing: 0.75rem;
  letter-spacing: 0.5rem;
}

.list-group {
  font-size: 2rem;
}

.mainText {
  font-size: 1.7rem;
  font-weight: bolder;
  color: rgb(131, 50, 91);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: overline;
}

.btn {
  font-size: 1.5rem;
}
